# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/giphy-frontend/node_modules/
/giphy-frontend/.idea/
/giphy-backend/node_modules/
/giphy-backend/.idea/
